.dashboard{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

   
    @media screen and (min-width: 1028px){
        display: grid;
        grid-template-columns: 2fr 38rem;
    }


    @media screen and (min-width: 1280px) {
        grid-template-columns: 1fr 41rem;
    }

    
    .insights{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;

        @media screen and (min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
        }

        > a{
            background-color: white;
            border-radius: 1rem;
            padding: 2rem 2.5rem;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            gap: 1.8rem;
            flex-wrap: wrap;
            border: 1px solid rgba(198, 211, 224, 0.184);
            transition: all .2s linear;

    

            &:hover{
                box-shadow: unset;
            }

            @media screen and (min-width: 1410px){
                justify-content: space-between;
            }

            .porcent{
                align-self: flex-end;
                color: #333;
            }

            .porcent.good{
                color: #6DD230;
            }

            .porcent.bad{
                color: #FE4F98;
            }

            .content{
                display: flex;
                align-items: center;
                gap: 1.8rem;
                flex-wrap: wrap;
                justify-content: center;
             
                

                > span{
                    width: 6.5rem;
                    height: 6.5rem;
                    background-color: #7380EC;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-top: .5rem;
                    position: relative;
                    z-index: 10;
                    border: 5px solid #E5ECFF;
                    
                    > i{
                        font-size: 2.5rem;
                    }
                }

                > span.projects{
                    background-color: #FF7782;
                    border: 5px solid #fef0f1;
                }

                > span.clients {
                    background-color: #41F1B6;
                    border: 5px solid #E9F9E0;
                }
            }
        }

        .info{
            text-align: center;

            @media screen and (min-width: 1089px){
                text-align: left;
            }
            p{
                font-size: 1.4rem;
                font-weight: 500;
                margin-bottom: .1rem;
                color: #333;
            }
            h4{
                font-size: 2.45rem;
                font-weight: 700;
                color: #333;
            }
        }

    }

    .left{

       
        @media screen and (min-width: 1280px) {
            height: 90vh;
            overflow-y: auto;
        }

        padding-bottom: 3rem;

        &::-webkit-scrollbar {
            width: 8px; 
            display: none;
        }
    
        &::-webkit-scrollbar-track {
            background-color: #f1f1f1; /* Color de fondo de la pista */
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #e6e6e6; /* Color del pulgar */
            border-radius: 5px; /* Radio de borde del pulgar */
        }
    
        &::-webkit-scrollbar-thumb:hover {
            background-color: #d8d8d8; /* Cambio de color al pasar el ratón sobre el pulgar */
        }
        

        > h3{
            margin-top: 4rem;
        }

        > .projects{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            margin-top: 2rem;
            
            .project{
                background-color: white;
                border: 1px solid rgba(119, 140, 162, 0.1843137255);
                border-radius: .8rem;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                transition: all .2s linear;

                @keyframes moveArrow{
                    from{
                        transform: translateX(1.5rem);
                    }
                    to{
                        transform: translateX(0);
                    }
                }


                &:hover{
                    background-color: #7a7eff48;
                    background-color: #2d27d68b;
                    color: white;

                    .content > span i{
                        visibility: visible;
                        animation: moveArrow .7s alternate-reverse infinite;
                    }

                }

                .head{
                    padding: 2rem 1.5rem;
                    padding-left: 4rem;
                    text-align: center;
                }

                .content{
                    display: flex;
                    padding: 2rem 1.8rem;
                    justify-content: space-between;
                    align-items: center;
                    gap: 2rem;

                    > span i{
                        margin-top: .5rem;
                        display: block;
                        visibility: hidden;
                        font-size: 2rem;
                    }

                    .task{
                        display: flex;
                        align-items: center;
                        gap: .4rem;
                        font-size: 1.4rem;

                        i{
                            margin-top: .5rem;
                            font-size: 1.9rem;
                        }
                    }

                    .date{
                        border: 1px solid #eee;
                        display: inline-block;
                        padding: .6rem 1.4rem;
                        border-radius: 2.8rem;
                        font-size: 1.4rem;
                    }


                }
            }
        }


    }



}